<!DOCTYPE html>
<html lang="en">
<head>
  {% include "header.html" %}
  <title>Image Upload</title>
</head>
<body class="image-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <h1 class="sitename">Image Classification</h1>
      <nav id="navmenu" class="navmenu">        
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

  <main class="main">
    <section id="image-upload" class="image-upload section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Upload Image</h2>
        <p>Upload an image to detect and identify vehicles within the scene.</p>
      </div>
      <div class="container">
        <form action="/detect" method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept="image/*" required><br><br>
          

          <input type="submit" value="Upload and Detect Image" class="btn btn-primary">
        </form>
      </div>
    </section>
  </main>

  {% include "script.html" %}
  <script>
   
  </script>
</body>
</html>
